<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MCBackup.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <MCBackup.MySettings>
            <setting name="MinecraftFolderLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupsFolderLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="SavesFolderLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="InterfaceOpacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BackgroundImageLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowBalloonTips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveCloseState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateThumbOnWorld" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="StatusLabelColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="AutoBkpPrefix" serializeAs="String">
                <value> [AUTO] </value>
            </setting>
            <setting name="AutoBkpSuffix" serializeAs="String">
                <value />
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="ListViewTextColorIntensity" serializeAs="String">
                <value>125</value>
            </setting>
            <setting name="ListViewGroupBy" serializeAs="String">
                <value>Type</value>
            </setting>
            <setting name="ListViewSortBy" serializeAs="String">
                <value>DateCreated</value>
            </setting>
            <setting name="ListViewSortByDirection" serializeAs="String">
                <value>Ascending</value>
            </setting>
            <setting name="FirstCloseToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>980,600</value>
            </setting>
            <setting name="IsWindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SidebarWidth" serializeAs="String">
                <value>240*</value>
            </setting>
            <setting name="ListViewWidth" serializeAs="String">
                <value>716*</value>
            </setting>
            <setting name="SendAnonymousData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDeleteDialog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IgnoreSystemLocalizationWhenFormatting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultBackupName" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultAutoBackupName" serializeAs="String">
                <value />
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupGroups" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="ThemeShade" serializeAs="String">
                <value>BaseLight</value>
            </setting>
            <setting name="BackgroundImageXAlign" serializeAs="String">
                <value>Center</value>
            </setting>
            <setting name="BackgroundImageYAlign" serializeAs="String">
                <value>Center</value>
            </setting>
        </MCBackup.MySettings>
    </userSettings>
</configuration>
